<!DOCTYPE html>

<!-- Inspiration on box: https://www.freecodecamp.org/learn/responsive-web-design/basic-css/add-different-padding-to-each-side-of-an-element-->

{% extends "base.html"%}
{% block body %}
<style>
    body {
        background-color: rgb(97, 187, 187);
        text-align: center;
    }

    .box {
        border-style: solid;
        text-align: center;
        border-color: black;
        border-width: 2px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .p1 {
        text-align: center;
    }
</style>

<html>
    <head class="">
        <h1>About Stonks:</h1>
    </head>
    <body>
        <strong>
        <p class="box p1">
            Stonks is a web app that allows users to analyze a stock of their choosing with the Analysis Stonks System (ASS) method.
    The ASS method we created combines rudimentary machine learning with traditional financial analysis to give you the best
    picture of whether it's a good time to buy or a great time to buy
        </p>
    </strong>
    </body>
</html>
{% endblock %}