<!DOCTYPE html>

{% extends "base.html"%}
{% block body %}
<style>
    body {
        background-color: rgb(97, 187, 187);
    }
</style>

<div>
    <h1></h1>
</div>
{% endblock %}

<!-- Stonks is a web app that allows users to analayze a stock of their choosing with the Analysis Stonks System (ASS) method.
    The ASS method we created combines rudimentary machine learning with traditional financial analysis to give you the best
    picture of whether it's a good time to buy or a great time to buy
 -->