<!DOCTYPE html>
<!-- Centering list: https://stackoverflow.com/questions/30829916/how-can-i-center-my-ul-li-list-in-css-->

{% extends "base.html"%}
{% block body %}
<style>
    body {
        background-color: rgb(97, 187, 187);
    }

    .box {
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        width: 500px;
    }

    h1 {
        text-align: center;
    }
</style>
<html>
    <head>
        <h1>Peers:</h1>
    </head>
    <body>
        <div class="box">
            <strong>
                <ol>
                    {%for i in range(0, length)%} 
                        <li>{{peers[i]}}</li> 
                    {%endfor%} 
            </strong>
        </div>
    </body>
</html>

{% endblock %}