<!DOCTYPE html>
<!-- Inspiration on box: https://www.freecodecamp.org/learn/responsive-web-design/basic-css/add-different-padding-to-each-side-of-an-element-->

{% extends "base.html"%}
{% block body %}
<style>
    body {
        background-color: rgb(97, 187, 187);
    }

    .box {
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        width: 500px;
    }

    h1 {
        text-align: center;
    }

    .align-cen {
        text-align: center;
        position: relative;
        top: 100px;
    }

    .style-button {
        width: 150px;
        height: 100px;
    }

</style>
<html>
    <head>
        <h1>Top 10 Performing Companies:</h1>
    </head>
    <body>
        <div class="box">
            <strong>
                <ol>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                </ol>
            </strong>
        </div>
        <div class="align-cen">
            <button target="../analysis" id="button1" type="submit" class="btn btn-success style-button"><a class="nav-link" href="../analysis">ANALYZE</a></button>
        </div>
    </body>
</html>

{% endblock %}